@import url("https://fonts.cdnfonts.com/css/cisnero");
@import url('https://fonts.cdnfonts.com/css/spline-sans-mono');
@import url('https://fonts.cdnfonts.com/css/magisse');
@import url('https://fonts.cdnfonts.com/css/schibsted-grotesk');
@import url('https://fonts.cdnfonts.com/css/accelerare');
@import url('https://fonts.cdnfonts.com/css/pixel12x10');